.bundle
db/*.sqlite3
**/*.log
tmp/**/*
public/*.zip
.idea/*
coverage/
coverage.data
*~
.DS_Store
report.html
results.xml
config/*.pem
.vagrant
*.box
doc/**/*
.teamcity/*
log/*
doc/
spec/failed.txt
*.retry
